* {
    -webkit-print-color-adjust: exact !important;
}

html,
body {
    margin: 0;
    padding: 0;
}

#svg-holder {
    margin: 10px;
    /*width: 80%;
            max-width: 80%;
            */
    height: 600px;
    border: 1px solid blue;
    /*resize: horizontal;*/
    overflow: hidden;
    /*text-align: center;*/
    padding: 5px;
}

svg {
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.fromdate {
    float: left;
}

.todate::before {
    content: "\00A0-\00A0";
}

svg rect.education {
    fill: rgb(142, 185, 72);
    stroke: rgb(48, 83, 48);
    stroke-width: 1;
}

svg rect.work {
    fill: rgb(105, 170, 206);
    stroke: rgb(18, 40, 51);
    stroke-width: 1;
    stroke-width: 0.5;
    stroke-opacity: 0.5;
}

svg #skills rect {
    fill-opacity: 0.7;
    fill: rgb(223, 209, 88);
    stroke: rgb(92, 87, 47);
    stroke-width: 0.5;
    stroke-opacity: 0.5;
}

svg #skills rect:hover {
    stroke-width: 1;
    cursor: pointer;
}

svg text.place-label {
    font-family: sans-serif;
}
