* {
    -webkit-print-color-adjust: exact !important;
}

#svg-holder {
    margin: 10px;
    height: 500px;
    border: 1px solid blue;
    padding: 5px;
    position: relative;
}

#svg-holder svg {
    border: 1px solid red;
    width: 100%;
    height: 90%;
    pointer-events: all;
}

#svg-holder .place_checkboxes {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 10px;
}

#svg-holder svg rect {
    stroke-width: 0.5;
    stroke-opacity: 0.5;
}

#svg-holder svg g.place:hover rect,
#svg-holder svg rect:hover {
    stroke-width: 1;
    stroke-opacity: 0.8;
    cursor: pointer;
}

#svg-holder svg g.place.education rect {
    fill: rgb(142, 185, 72);
    stroke: rgb(48, 83, 48);
}

#svg-holder svg g.place.work rect {
    fill: rgb(105, 170, 206);
    stroke: rgb(18, 40, 51);
}

#svg-holder svg g.place.projects rect {
    fill: rgb(142, 166, 177);
    stroke: rgb(28, 34, 37);
}

#svg-holder svg #skills rect {
    fill: rgb(255, 206, 108);
    stroke: rgb(187, 128, 10);
}

#svg-holder svg text.place-label {
    font-family: sans-serif;
}
